body {
    
    /*background-color:  #8BCBDE;*/
  background: #780206; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #780206 , #061161); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #780206 , #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        

}


.quote__container {
    width: 900px;
    margin: 0 auto;
    margin-top: 220px;
   
    
    border-radius: 3px;
    padding: 10px;
    position: relative;
   
}

.quote__text {
    
    margin-bottom: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
font-family: 'Droid Serif', serif;
    color: white;
  
    
    
}
.quote__par {
font-family: 'Droid Serif', serif;
font-size: 36px;
letter-spacing: 0.3px;
line-height: 55px;
    font-weight: 400;
   
    
}
.quote__author {
font-family: 'Droid Serif', serif;
font-weight: 400;
   
    
}
.quote__bottom {
    display: flex;
    justify-content: space-between;
   
   
    
}

.quote__tweet {
    width:50px;
    height: 20px;
   border-radius:3px;
}
.quote__new {
    background-color:coral;
   
}

.quote__btn {
    width: 50px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}