body {
    

background: #780206; 
background: -webkit-linear-gradient(to left, #780206 , #061161); 
background: linear-gradient(to left, #780206 , #061161); 
background-repeat: no-repeat;
background-size: cover;
        

}


.quote__container {
    width: 50%;
    margin: 0 auto;
    margin-top: 220px;
   
    
    border-radius: 3px;
    padding: 10px;

   
}

.quote__logo {
    text-align: center;
    color:antiquewhite;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
 

}
.quote__text {
    
    margin-bottom: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
font-family: 'Open Sans', sans-serif;

    color: white;
  
    
    
}
.quote__par {

font-size: 20px;
letter-spacing: 0.7px;
line-height: 35px;
font-weight: 100;
   
   
    
}
.quote__author {

font-weight: 500;
font-size: 14px;
   
    
}
.quote__bottom {
    display: flex;
    justify-content: space-between;
   
   
    
}

.quote__tweet {
    width:50px;
    height: 20px;
   border-radius:3px;
}
.quote__new {
    background-color:coral;
   
}
.quote__new:hover {
    background-color:orange;
   
}

.quote__btn {
    width: 50px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
